#filecontents { 
    border:double; 
    overflow-y:scroll; 
    height:400px; 
} 

.ResultCanvas {
    border: 2px solid black;
    position: absolute;
    left: 0px;
    top: 0x;
}

.sliderCanvas {
    position: absolute;
        top: 370x;
    left: 260px;
}

body {
    margin: 0px;
    padding: 0px;
}

.alphaSlider {
    position: absolute;
    left: 0px;
    top: 354px;
    width: 240px;
}

.betaSlider {
    position: absolute;
    left: 0px;
    top: 384px;
    width: 240px;
}


.fSlider {
    position: absolute;
    left: 0px;
    top: 414px;
    width: 240px;
}

.DSlider {
    position: absolute;
    left: 0px;
    top: 444px;
    width: 240px;
}

.nSlider {
    position: absolute;
    left: 0px;
    top: 474px;
    width: 240px;
}

.typeSlider {
    position: absolute;
    left: 0px;
    top: 514px;
    width: 240px;
}